/* :root {
  /*
  /* Example setup for custom colors */
/* Generate at: https://once-ui.com/customize */
/*
  --scheme-brand-100: #08002f;
  --scheme-brand-200:  #04025c;
  --scheme-brand-300:  #1f398e;
  --scheme-brand-400:  #3856ae;
  --scheme-brand-500:  #5071cc;
  --scheme-brand-600:  #6f94f1;
  --scheme-brand-700:  #8db3ff;
  --scheme-brand-800:  #b2dbff;
  --scheme-brand-900:  #bfe8ff;
  --scheme-brand-1000: #ccf6ff;
  --scheme-brand-1100: #d2fcff;
  --scheme-brand-1200: #d2fcff;
  --scheme-brand-600-10: rgba(111,148,241,0.1);
  --scheme-brand-600-30: rgba(111,148,241,0.3);
  --scheme-brand-600-50: rgba(111,148,241,0.5);

  --scheme-accent-100:  #030b10;
  --scheme-accent-200:  #0d181d;
  --scheme-accent-300:  #364248;
  --scheme-accent-400:  #505d64;
  --scheme-accent-500:  #69777e;
  --scheme-accent-600:  #8a989f;
  --scheme-accent-700:  #a8b7bf;
  --scheme-accent-800:  #c8d7df;
  --scheme-accent-900:  #d5e4ec;
  --scheme-accent-1000: #e2f1f9;
  --scheme-accent-1100: #e9f8ff;
  --scheme-accent-1200: #efffff;
  --scheme-accent-600-10: rgba(138,152,159,0.1);
  --scheme-accent-600-30: rgba(138,152,159,0.3);
  --scheme-accent-600-50: rgba(138,152,159,0.5);

  --scheme-neutral-100:  #020b10;
  --scheme-neutral-200:  #0b181d;
  --scheme-neutral-300:  #344248;
  --scheme-neutral-400:  #4f5d64;
  --scheme-neutral-500:  #68777e;
  --scheme-neutral-600:  #89989f;
  --scheme-neutral-700:  #a7b7be;
  --scheme-neutral-800:  #c7d7df;
  --scheme-neutral-900:  #d4e4ec;
  --scheme-neutral-1000: #e1f2f9;
  --scheme-neutral-1100: #e7f8ff;
  --scheme-neutral-1200: #eeffff;
  --scheme-neutral-600-10: rgba(137,152,159,0.1);
  --scheme-neutral-600-30: rgba(137,152,159,0.3);
  --scheme-neutral-600-50: rgba(137,152,159,0.5);
  /*
}*/


html {
  scroll-behavior: smooth !important;
}


@media (max-width: 650px) {
  .findInstitutionGrid {
    grid-template-columns: repeat(1, 4fr) !important;
    height: fit-content !important;
    gap: 40px;

  }
}


@media (max-width: 1100px) {
  .findInstitutionGrid {
    grid-template-columns: repeat(2, 4fr);
    height: fit-content;
    gap: 40px;

  }
}

.navIcon {
  display: none;
}


@media (max-width: 770px) {
  .navIcon {
    display: flex;
  }
}

.cardPage {
  min-width: 385px;
  max-height: 480px;
}

@media (max-width: 650px) {
  .cardPage {
    min-width: 87vw !important;
    max-width: 87vw !important;
  }
}

.row1 {
  flex-direction: row;
  display: flex;
}

@media (max-width: 875px) {
  .row1 {
    flex-direction: column !important;
    display: flex !important;
  }

  .footer {
    max-width: 99vw !important;
    width: 100% !important;
  }
}

@media (max-width: 1100px) {
  .personal-account-details-grid {
    grid-template-columns: repeat(1, 4fr) !important;
  }
}

.cardDLabelText {
  color: #626f45;
  font-size: 160px;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: .3px;
  position: absolute;
  top: 8%;
  opacity: 0.5;
}

.cardTextColumn {
  padding-right: 128px;
}

.trustedText {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 875px) {

  .logo{
    width: 40px !important;
    height: 30px !important;
  }
  .logoText {
    font-size: 14px !important;
    margin-top: 5px !important;
    }
  .titleTexts {
    font-size: 45px !important;
  }

  .statsTexts {
    font-size: 30px !important;
  }

  .statsColumn {
    align-items: start !important;
  }

  .cardDLabelText {
    font-size: 100px !important;
    top: 16% !important;
  }

  .faqText {
    font-size: 15px !important;
  }

  .cardTextColumn {
    align-items: center !important;
    text-align: center !important;
    padding-right: 0 !important;
    padding-inline: 10px !important;
  }

  .cardTextTitle {
    font-size: 30px !important;

  }

  .cardBRow {
    gap: 8px !important;
  }

  .cardB {
    min-height: 530px !important;
  }

  .cardCTextColumn {
    gap: 12px !important;
  }

  .cardCLabelText {
    font-size: 12px !important;
  }

  .cardDSubtitleText {
    text-align: center !important;
  }

  .cardDTitleText {
    text-align: center !important;
  }

  .trustedText {
    padding-inline: 20px !important;
    font-size: 15px !important;
  }

  .trustedSection {
    padding-top: 0px !important;
  }

  .footerTop {
    flex-direction: column !important;
  }
  .footerTitle{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .footerBottom{
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .footerAvatar{
    scale: 0.7  !important;
  }
  .footerAvatarGroup{
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin-top: 20px;
    align-items: center !important;
    justify-content: center !important;
  }

  .footerGroup{
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;

  }

.footerLinkTexts{
  font-size: 15px !important;
}



  /* ========================================= */

  .profileFullName{
    font-size: 33px !important;
  }




  /* ======= */

  .findDescriptionColumn{
    margin-top: 20px !important;
  }

  .findInstitutionColumn{
    padding-inline: 12px;
  }

  .selectCategory{
    display: none !important;
  }
}