body {
    padding: 0;
    margin: 0;
    align-items: center !important;
    justify-content: start !important;
    flex-direction: column !important;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
    transition: 0.3s !important;
}

.background {
    align-items: center;
    justify-content: start;
    display: flex;
    scale: 1;
    opacity: 0.7;
    background-size: 100%;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/download.svg")
}

.space {
    display: flex;
    position: relative;
    width: 0px;
    height: 60px;
    background-color: gainsboro;
}

.space-s {
    display: flex;
    position: relative;
    width: 0px;
    height: 30px;
    background-color: gainsboro;
}

.space-xs {
    display: flex;
    position: relative;
    width: 0px;
    height: 20px;
    background-color: gainsboro;
}

.containerMain {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.logo {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #bbfe3b, #dbff98);
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

@font-face {
    font-family: "CG";
    src: url("./../../../fonts/ClashGrotesk-Variable.ttf") format("truetype");
}

.textTop {
    display: flex;
    position: relative;
    font-family: "CG", sans-serif !important;
    font-size: 40px;
    font-weight: 500;
    max-width: 550px;
    line-height: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #0c0c0c;
}

.textBottom {
    display: flex;
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    max-width: 550px;
    line-height: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #666;
}

.members {
    display: flex;
    position: relative;
    width: fit-content;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 50px;
    height: 30px;
    border: 1px solid #e9ecf0;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center;
    font-family: "CG", sans-serif;
    color: #666;
    line-height: 1em;
    font-size: 12px;
    font-weight: 500;
}

.members .pfp {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #f8f9fa;
    background-color: yellow;
    margin-right: 5px;
    overflow: hidden;
}

.input-placeholder::placeholder {
    color: #aaa;
}

.containerMain .inputContainer {
    display: flex;
    position: relative;
    width: fit-content;
    flex-direction: column;
    gap: 10px;
    height: fit-content;

    Input {
        min-height: 45px;
        min-width: 280px;
        background-color: #fff;
        color: #666;
        font-weight: 500;
        padding-inline: 20px;
        font-family: "CG", sans-serif;
    }

    Button {
        min-height: 45px;
        padding-inline: 30px;
        background: linear-gradient(to bottom, #3a3a3a, #292929);
        cursor: pointer;
        transition: 0.3s !important;

        &:hover {
            background: linear-gradient(to bottom, #292929, #3a3a3a);
        }
    }
}

.releaseDate {
    display: flex;
    position: relative;
    width: fit-content;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 50px;
    height: 24px;
    border: 1px solid #e9ecf0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #666;
    line-height: 1em;
    font-size: 11px;
    font-weight: 600;
}


@media (max-width: 800px) {
    .background {
        background-size: 150%;
    }
}

@media (max-width: 500px) {
    .background {
        background-size: 200%;
    }

    .inputContainer {
        flex-direction: column !important;
        max-width: 80vw;

        Input {
            max-width: 80vw;
        }

        Button {
            max-width: 80vw;
        }
    }

    .textBottom {
        min-width: 80vw;
    }
}

@media (max-width: 400px) {
    .background {
        background-size: 350%;
        transform: rotate(0deg);
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-item {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stagger effect */
.fade-item:nth-child(1) {
    animation-delay: 0.15s;
}

.fade-item:nth-child(2) {
    animation-delay: 0.3s;
}

.fade-item:nth-child(3) {
    animation-delay: 0.45s;
}

.fade-item:nth-child(4) {
    animation-delay: 0.6s;
}

.fade-item:nth-child(5) {
    animation-delay: 0.75s;
}

.fade-item:nth-child(6) {
    animation-delay: 0.9s;
}

.fade-item:nth-child(7) {
    animation-delay: 1.05s;
}

.fade-item:nth-child(8) {
    animation-delay: 1.35s;
}

.fade-item:nth-child(9) {
    animation-delay: 1.5s;
}

.fade-item:nth-child(10) {
    animation-delay: 1.65s;
}

.fade-item:nth-child(11) {
    animation-delay: 1.7s;
}

.fade-item:nth-child(12) {
    animation-delay: 1.85s;
}

.fade-item:nth-child(12) {
    animation-delay: 2s;
}
