@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-swal-container {
  position: absolute !important;
}

.swal2-container {
  position: absolute !important;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/download.svg");
  background-size: 120%;
}

* {
  box-sizing: border-box;
}

.containerMax {
  display: flex;
  position: relative;
  width: 700px;
  height: fit-content !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}

.cardContainer {
  min-width: 700px;
  max-height: 445px;
  min-height: 445px;
  animation: fadeInUp 0.5s ease;
}

@media (max-width: 767px) {
  body {
    background-size: 150%;
  }

  .containerMax {
    max-width: 50vw !important;
  }

  .cardContainer {
    min-width: 50vw;
  }
}

@media (max-width: 580px) {
  body {
    background-size: 200%;
  }

  .cardContainer {
    min-width: 320px;
  }
}

@media (max-width: 525px) {
  .containerMax {
    min-width: 320px;
    scale: 1.05;
  }
}

@media (max-width: 525px) {
  body {
    height: 100svh;
  }
}