body {
  padding: 0;
  margin: 0;
  align-items: center !important;
  justify-content: start !important;
  flex-direction: column !important;
  width: 100vw;
  display: flex;
  min-height: 100vh;
  padding-top: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  transition: 0.3s !important;
}

.background {
  align-items: center;
  justify-content: start;
  display: flex;
  scale: 1;
  opacity: 0.7;
  background-size: 100%;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 3840 2160%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%223840%22 height=%222160%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h3840v2160H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h3840v2160H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23d7dbdf%22 stroke-width=%223.456%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf47%22 d=%22M137.143 0h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M274.286 0h137.143v137.143H274.286zM411.429 0h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22%23d7dbdf71%22 d=%22M548.571 0h137.143v137.143H548.571z%22%2F%3E%3Cpath fill=%22none%22 d=%22M685.714 0h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 0H960v137.143H822.857zM960 0h137.143v137.143H960zM1097.143 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf08%22 d=%22M1234.286 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1371.429 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf6a%22 d=%22M1508.571 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf88%22 d=%22M1645.714 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 0H1920v137.143h-137.143zM1920 0h137.143v137.143H1920zM2057.143 0h137.143v137.143h-137.143zM2194.286 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf69%22 d=%22M2331.429 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf01%22 d=%22M2605.714 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 0H2880v137.143h-137.143zM2880 0h137.143v137.143H2880zM3017.143 0h137.143v137.143h-137.143zM3154.286 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf3b%22 d=%22M3291.429 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfb2%22 d=%22M3565.714 0h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 0H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfce%22 d=%22M0 137.143h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf3b%22 d=%22M137.143 137.143h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf51%22 d=%22M274.286 137.143h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf03%22 d=%22M411.429 137.143h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 137.143h137.143v137.143H548.571zM685.714 137.143h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 137.143H960v137.143H822.857zM960 137.143h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22%23d7dbdf31%22 d=%22M1097.143 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1234.286 137.143h137.143v137.143h-137.143zM1371.429 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 137.143h137.143v137.143h-137.143zM1645.714 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfcc%22 d=%22M1782.857 137.143H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf0f%22 d=%22M1920 137.143h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2057.143 137.143h137.143v137.143h-137.143zM2194.286 137.143h137.143v137.143h-137.143zM2331.429 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf48%22 d=%22M2468.571 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf38%22 d=%22M2605.714 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf96%22 d=%22M2742.857 137.143H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfac%22 d=%22M2880 137.143h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3017.143 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf3b%22 d=%22M3154.286 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf91%22 d=%22M3291.429 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf6a%22 d=%22M3565.714 137.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 137.143H3840v137.143h-137.143zM0 274.286h137.143v137.143H0zM137.143 274.286h137.143v137.143H137.143zM274.286 274.286h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf4f%22 d=%22M411.429 274.286h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22%23d7dbdf4f%22 d=%22M548.571 274.286h137.143v137.143H548.571z%22%2F%3E%3Cpath fill=%22none%22 d=%22M685.714 274.286h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 274.286H960v137.143H822.857zM960 274.286h137.143v137.143H960zM1097.143 274.286h137.143v137.143h-137.143zM1234.286 274.286h137.143v137.143h-137.143zM1371.429 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfda%22 d=%22M1645.714 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 274.286H1920v137.143h-137.143zM1920 274.286h137.143v137.143H1920zM2057.143 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf25%22 d=%22M2194.286 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2331.429 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfc8%22 d=%22M2605.714 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 274.286H2880v137.143h-137.143zM2880 274.286h137.143v137.143H2880zM3017.143 274.286h137.143v137.143h-137.143zM3154.286 274.286h137.143v137.143h-137.143zM3291.429 274.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 274.286h137.143v137.143h-137.143zM3565.714 274.286h137.143v137.143h-137.143zM3702.857 274.286H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfa7%22 d=%22M0 411.429h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf00%22 d=%22M137.143 411.429h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M274.286 411.429h137.143v137.143H274.286zM411.429 411.429h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 411.429h137.143v137.143H548.571zM685.714 411.429h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 411.429H960v137.143H822.857zM960 411.429h137.143v137.143H960zM1097.143 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf5c%22 d=%22M1234.286 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1371.429 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 411.429h137.143v137.143h-137.143zM1645.714 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf21%22 d=%22M1782.857 411.429H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 411.429h137.143v137.143H1920zM2057.143 411.429h137.143v137.143h-137.143zM2194.286 411.429h137.143v137.143h-137.143zM2331.429 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 411.429h137.143v137.143h-137.143zM2605.714 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf5c%22 d=%22M2742.857 411.429H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 411.429h137.143v137.143H2880zM3017.143 411.429h137.143v137.143h-137.143zM3154.286 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf27%22 d=%22M3291.429 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf78%22 d=%22M3428.571 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdffc%22 d=%22M3565.714 411.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 411.429H3840v137.143h-137.143zM0 548.571h137.143v137.143H0zM137.143 548.571h137.143v137.143H137.143zM274.286 548.571h137.143v137.143H274.286zM411.429 548.571h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 548.571h137.143v137.143H548.571zM685.714 548.571h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22%23d7dbdf8a%22 d=%22M822.857 548.571H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 548.571h137.143v137.143H960zM1097.143 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfa3%22 d=%22M1234.286 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf38%22 d=%22M1371.429 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf21%22 d=%22M1508.571 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1645.714 548.571h137.143v137.143h-137.143zM1782.857 548.571H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf7b%22 d=%22M1920 548.571h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22%23d7dbdf71%22 d=%22M2057.143 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2194.286 548.571h137.143v137.143h-137.143zM2331.429 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfd0%22 d=%22M2468.571 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2605.714 548.571h137.143v137.143h-137.143zM2742.857 548.571H2880v137.143h-137.143zM2880 548.571h137.143v137.143H2880zM3017.143 548.571h137.143v137.143h-137.143zM3154.286 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfac%22 d=%22M3291.429 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf06%22 d=%22M3565.714 548.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 548.571H3840v137.143h-137.143zM0 685.714h137.143v137.143H0zM137.143 685.714h137.143v137.143H137.143zM274.286 685.714h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf93%22 d=%22M411.429 685.714h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22%23d7dbdf63%22 d=%22M548.571 685.714h137.143v137.143H548.571z%22%2F%3E%3Cpath fill=%22none%22 d=%22M685.714 685.714h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 685.714H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22%23d7dbdf56%22 d=%22M960 685.714h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1097.143 685.714h137.143v137.143h-137.143zM1234.286 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf9c%22 d=%22M1371.429 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf37%22 d=%22M1508.571 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1645.714 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdff9%22 d=%22M1782.857 685.714H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 685.714h137.143v137.143H1920zM2057.143 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfb4%22 d=%22M2194.286 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf26%22 d=%22M2331.429 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf62%22 d=%22M2605.714 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 685.714H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf1a%22 d=%22M2880 685.714h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22%23d7dbdffc%22 d=%22M3017.143 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf26%22 d=%22M3154.286 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3291.429 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfeb%22 d=%22M3428.571 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf19%22 d=%22M3565.714 685.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 685.714H3840v137.143h-137.143zM0 822.857h137.143V960H0zM137.143 822.857h137.143V960H137.143zM274.286 822.857h137.143V960H274.286zM411.429 822.857h137.143V960H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 822.857h137.143V960H548.571zM685.714 822.857h137.143V960H685.714z%22%2F%3E%3Cpath fill=%22%23d7dbdf33%22 d=%22M822.857 822.857H960V960H822.857z%22%2F%3E%3Cpath fill=%22%23d7dbdf35%22 d=%22M960 822.857h137.143V960H960z%22%2F%3E%3Cpath fill=%22%23d7dbdfdd%22 d=%22M1097.143 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1234.286 822.857h137.143V960h-137.143zM1371.429 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfb1%22 d=%22M1508.571 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1645.714 822.857h137.143V960h-137.143zM1782.857 822.857H1920V960h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf45%22 d=%22M1920 822.857h137.143V960H1920z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2057.143 822.857h137.143V960h-137.143zM2194.286 822.857h137.143V960h-137.143zM2331.429 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfdb%22 d=%22M2605.714 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 822.857H2880V960h-137.143zM2880 822.857h137.143V960H2880zM3017.143 822.857h137.143V960h-137.143zM3154.286 822.857h137.143V960h-137.143zM3291.429 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf70%22 d=%22M3565.714 822.857h137.143V960h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3702.857 822.857H3840V960h-137.143zM0 960h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf98%22 d=%22M137.143 960h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M274.286 960h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdfc1%22 d=%22M411.429 960h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22%23d7dbdfa4%22 d=%22M548.571 960h137.143v137.143H548.571zM685.714 960h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22%23d7dbdf79%22 d=%22M822.857 960H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 960h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22%23d7dbdf95%22 d=%22M1097.143 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1234.286 960h137.143v137.143h-137.143zM1371.429 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 960h137.143v137.143h-137.143zM1645.714 960h137.143v137.143h-137.143zM1782.857 960H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf04%22 d=%22M1920 960h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2057.143 960h137.143v137.143h-137.143zM2194.286 960h137.143v137.143h-137.143zM2331.429 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf40%22 d=%22M2468.571 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf14%22 d=%22M2605.714 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfa1%22 d=%22M2742.857 960H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 960h137.143v137.143H2880zM3017.143 960h137.143v137.143h-137.143zM3154.286 960h137.143v137.143h-137.143zM3291.429 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 960h137.143v137.143h-137.143zM3565.714 960h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdff1%22 d=%22M3702.857 960H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1097.143h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf3a%22 d=%22M137.143 1097.143h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M274.286 1097.143h137.143v137.143H274.286zM411.429 1097.143h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1097.143h137.143v137.143H548.571zM685.714 1097.143h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22%23d7dbdf48%22 d=%22M822.857 1097.143H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 1097.143h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22%23d7dbdf9b%22 d=%22M1097.143 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfcb%22 d=%22M1234.286 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1371.429 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 1097.143h137.143v137.143h-137.143zM1645.714 1097.143h137.143v137.143h-137.143zM1782.857 1097.143H1920v137.143h-137.143zM1920 1097.143h137.143v137.143H1920zM2057.143 1097.143h137.143v137.143h-137.143zM2194.286 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf0d%22 d=%22M2331.429 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf6d%22 d=%22M2605.714 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 1097.143H2880v137.143h-137.143zM2880 1097.143h137.143v137.143H2880zM3017.143 1097.143h137.143v137.143h-137.143zM3154.286 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf7e%22 d=%22M3291.429 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 1097.143h137.143v137.143h-137.143zM3565.714 1097.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf88%22 d=%22M3702.857 1097.143H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1234.286h137.143v137.143H0zM137.143 1234.286h137.143v137.143H137.143zM274.286 1234.286h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf32%22 d=%22M411.429 1234.286h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1234.286h137.143v137.143H548.571zM685.714 1234.286h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 1234.286H960v137.143H822.857zM960 1234.286h137.143v137.143H960zM1097.143 1234.286h137.143v137.143h-137.143zM1234.286 1234.286h137.143v137.143h-137.143zM1371.429 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 1234.286h137.143v137.143h-137.143zM1645.714 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf46%22 d=%22M1782.857 1234.286H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1920 1234.286h137.143v137.143H1920zM2057.143 1234.286h137.143v137.143h-137.143zM2194.286 1234.286h137.143v137.143h-137.143zM2331.429 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf71%22 d=%22M2605.714 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 1234.286H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfea%22 d=%22M2880 1234.286h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3017.143 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfd5%22 d=%22M3154.286 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3291.429 1234.286h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 1234.286h137.143v137.143h-137.143zM3565.714 1234.286h137.143v137.143h-137.143zM3702.857 1234.286H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf9f%22 d=%22M0 1371.429h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M137.143 1371.429h137.143v137.143H137.143zM274.286 1371.429h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf07%22 d=%22M411.429 1371.429h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1371.429h137.143v137.143H548.571zM685.714 1371.429h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 1371.429H960v137.143H822.857zM960 1371.429h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22%23d7dbdf80%22 d=%22M1097.143 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1234.286 1371.429h137.143v137.143h-137.143zM1371.429 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 1371.429h137.143v137.143h-137.143zM1645.714 1371.429h137.143v137.143h-137.143zM1782.857 1371.429H1920v137.143h-137.143zM1920 1371.429h137.143v137.143H1920zM2057.143 1371.429h137.143v137.143h-137.143zM2194.286 1371.429h137.143v137.143h-137.143zM2331.429 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf45%22 d=%22M2605.714 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 1371.429H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdffd%22 d=%22M2880 1371.429h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3017.143 1371.429h137.143v137.143h-137.143zM3154.286 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf5b%22 d=%22M3291.429 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdff1%22 d=%22M3428.571 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3565.714 1371.429h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf5f%22 d=%22M3702.857 1371.429H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1508.571h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdfe7%22 d=%22M137.143 1508.571h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M274.286 1508.571h137.143v137.143H274.286zM411.429 1508.571h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1508.571h137.143v137.143H548.571zM685.714 1508.571h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 1508.571H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22%23d7dbdfa8%22 d=%22M960 1508.571h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1097.143 1508.571h137.143v137.143h-137.143zM1234.286 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf84%22 d=%22M1371.429 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf02%22 d=%22M1508.571 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf38%22 d=%22M1645.714 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 1508.571H1920v137.143h-137.143zM1920 1508.571h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22%23d7dbdff1%22 d=%22M2057.143 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf50%22 d=%22M2194.286 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf08%22 d=%22M2331.429 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf6e%22 d=%22M2468.571 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf79%22 d=%22M2605.714 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 1508.571H2880v137.143h-137.143zM2880 1508.571h137.143v137.143H2880zM3017.143 1508.571h137.143v137.143h-137.143zM3154.286 1508.571h137.143v137.143h-137.143zM3291.429 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 1508.571h137.143v137.143h-137.143zM3565.714 1508.571h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfdb%22 d=%22M3702.857 1508.571H3840v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfc8%22 d=%22M0 1645.714h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M137.143 1645.714h137.143v137.143H137.143zM274.286 1645.714h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdff3%22 d=%22M411.429 1645.714h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1645.714h137.143v137.143H548.571zM685.714 1645.714h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 1645.714H960v137.143H822.857zM960 1645.714h137.143v137.143H960zM1097.143 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfb1%22 d=%22M1234.286 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfa8%22 d=%22M1371.429 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1508.571 1645.714h137.143v137.143h-137.143zM1645.714 1645.714h137.143v137.143h-137.143zM1782.857 1645.714H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdff5%22 d=%22M1920 1645.714h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22%23d7dbdfcc%22 d=%22M2057.143 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf27%22 d=%22M2194.286 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf9d%22 d=%22M2331.429 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 1645.714h137.143v137.143h-137.143zM2605.714 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf8c%22 d=%22M2742.857 1645.714H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 1645.714h137.143v137.143H2880zM3017.143 1645.714h137.143v137.143h-137.143zM3154.286 1645.714h137.143v137.143h-137.143zM3291.429 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfe5%22 d=%22M3428.571 1645.714h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3565.714 1645.714h137.143v137.143h-137.143zM3702.857 1645.714H3840v137.143h-137.143zM0 1782.857h137.143V1920H0zM137.143 1782.857h137.143V1920H137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf09%22 d=%22M274.286 1782.857h137.143V1920H274.286z%22%2F%3E%3Cpath fill=%22none%22 d=%22M411.429 1782.857h137.143V1920H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1782.857h137.143V1920H548.571z%22%2F%3E%3Cpath fill=%22%23d7dbdfa7%22 d=%22M685.714 1782.857h137.143V1920H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 1782.857H960V1920H822.857z%22%2F%3E%3Cpath fill=%22%23d7dbdfc4%22 d=%22M960 1782.857h137.143V1920H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1097.143 1782.857h137.143V1920h-137.143zM1234.286 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfd6%22 d=%22M1371.429 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf2d%22 d=%22M1508.571 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf0f%22 d=%22M1645.714 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 1782.857H1920V1920h-137.143zM1920 1782.857h137.143V1920H1920zM2057.143 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfcb%22 d=%22M2194.286 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf0e%22 d=%22M2331.429 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf4b%22 d=%22M2468.571 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf2b%22 d=%22M2605.714 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2742.857 1782.857H2880V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf8d%22 d=%22M2880 1782.857h137.143V1920H2880z%22%2F%3E%3Cpath fill=%22%23d7dbdf44%22 d=%22M3017.143 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3154.286 1782.857h137.143V1920h-137.143zM3291.429 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf16%22 d=%22M3428.571 1782.857h137.143V1920h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3565.714 1782.857h137.143V1920h-137.143zM3702.857 1782.857H3840V1920h-137.143zM0 1920h137.143v137.143H0z%22%2F%3E%3Cpath fill=%22%23d7dbdf78%22 d=%22M137.143 1920h137.143v137.143H137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf49%22 d=%22M274.286 1920h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22none%22 d=%22M411.429 1920h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 1920h137.143v137.143H548.571zM685.714 1920h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22%23d7dbdfcd%22 d=%22M822.857 1920H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22none%22 d=%22M960 1920h137.143v137.143H960zM1097.143 1920h137.143v137.143h-137.143zM1234.286 1920h137.143v137.143h-137.143zM1371.429 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf16%22 d=%22M1508.571 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf14%22 d=%22M1645.714 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 1920H1920v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf64%22 d=%22M1920 1920h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22%23d7dbdfe4%22 d=%22M2057.143 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2194.286 1920h137.143v137.143h-137.143zM2331.429 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf4f%22 d=%22M2605.714 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf6f%22 d=%22M2742.857 1920H2880v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2880 1920h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22%23d7dbdf8b%22 d=%22M3017.143 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3154.286 1920h137.143v137.143h-137.143zM3291.429 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf2b%22 d=%22M3428.571 1920h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3565.714 1920h137.143v137.143h-137.143zM3702.857 1920H3840v137.143h-137.143zM0 2057.143h137.143v137.143H0zM137.143 2057.143h137.143v137.143H137.143zM274.286 2057.143h137.143v137.143H274.286z%22%2F%3E%3Cpath fill=%22%23d7dbdf54%22 d=%22M411.429 2057.143h137.143v137.143H411.429z%22%2F%3E%3Cpath fill=%22none%22 d=%22M548.571 2057.143h137.143v137.143H548.571zM685.714 2057.143h137.143v137.143H685.714z%22%2F%3E%3Cpath fill=%22none%22 d=%22M822.857 2057.143H960v137.143H822.857z%22%2F%3E%3Cpath fill=%22%23d7dbdf48%22 d=%22M960 2057.143h137.143v137.143H960z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1097.143 2057.143h137.143v137.143h-137.143zM1234.286 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf49%22 d=%22M1371.429 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfe3%22 d=%22M1508.571 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf70%22 d=%22M1645.714 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1782.857 2057.143H1920v137.143h-137.143zM1920 2057.143h137.143v137.143H1920z%22%2F%3E%3Cpath fill=%22%23d7dbdf0b%22 d=%22M2057.143 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdfdf%22 d=%22M2194.286 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdf19%22 d=%22M2331.429 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2468.571 2057.143h137.143v137.143h-137.143zM2605.714 2057.143h137.143v137.143h-137.143zM2742.857 2057.143H2880v137.143h-137.143zM2880 2057.143h137.143v137.143H2880z%22%2F%3E%3Cpath fill=%22%23d7dbdf7c%22 d=%22M3017.143 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3154.286 2057.143h137.143v137.143h-137.143zM3291.429 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3428.571 2057.143h137.143v137.143h-137.143zM3565.714 2057.143h137.143v137.143h-137.143z%22%2F%3E%3Cpath fill=%22%23d7dbdff6%22 d=%22M3702.857 2057.143H3840v137.143h-137.143z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.964%22%2F%3E%3Cstop offset=%2297%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

}

.space {
  display: flex;
  position: relative;
  width: 0px;
  height: 60px;
  background-color: gainsboro;
}

.space-s {
  display: flex;
  position: relative;
  width: 0px;
  height: 30px;
  background-color: gainsboro;
}

.space-xs {
  display: flex;
  position: relative;
  width: 0px;
  height: 20px;
  background-color: gainsboro;
}

.containerMain {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.logo {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #bbfe3b, #dbff98);
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


@font-face {
  font-family: "CG";
  src: url("./../fonts/ClashGrotesk-Variable.ttf") format("truetype");
}

.textTop {
  display: flex;
  position: relative;
  font-family: "CG", sans-serif !important;
  font-size: 40px;
  font-weight: 500;
  max-width: 550px;
  line-height: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
}

.textBottom {
  display: flex;
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  max-width: 550px;
  line-height: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #666;
}

.members {
  display: flex;
  position: relative;
  width: fit-content;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50px;
  height: 30px;
  border: 1px solid #e9ecf0;
  background-color: #f8f9fa;
  align-items: center;
  justify-content: center;
  font-family: "CG", sans-serif;
  color: #666;
  line-height: 1em;
  font-size: 12px;
  font-weight: 500;
}

.members .pfp {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #f8f9fa;
  background-color: yellow;
  margin-right: 5px;
  overflow: hidden;
}

.members .button {
  width: 100px;
  height: 23px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #bbfe3b, #dbff98);
  color: #0c0c0c;
  margin-left: 15px;
  overflow: hidden;
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 11px !important;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;

  &::hover {
    scale: 0.6;

  }

}

.containerMain .inputContainer {
  display: flex;
  position: relative;
  width: fit-content;
  flex-direction: row;
  gap: 20px;
  height: fit-content;

  Input {
    min-height: 45px;
    min-width: 280px;
    background-color: #fff;
    color: #666;
    font-weight: 500;
    padding-inline: 20px;
    font-family: "CG";
  }

  Button {
    min-height: 45px;
    padding-inline: 30px;
    background: linear-gradient(to bottom, #3a3a3a, #292929);
    cursor: pointer;
    transition: 0.3s !important;

    &:hover {
      background: linear-gradient(to bottom, #292929, #3a3a3a);
    }
  }

  .buttonS {
    min-height: 45px;
    padding-inline: 13px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    font-family: "CG";
    font-weight: 500;
    font-size: 14px;
    color: #3a3a3a;
    background-color: #f8f9fa !important;
    border: 1px solid #e9ecf0 !important;
    cursor: pointer;
    transition: 0.3s !important;

    &:hover {
      background-color: #e9ecf0;
    }
  }

}

.releaseDate {
  display: flex;
  position: relative;
  width: fit-content;
  padding-left: 3px;
  padding-right: 10px;
  border-radius: 50px;
  height: 24px;
  border: 1px solid #e9ecf0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #666;
  line-height: 1em;
  font-size: 11px;
  font-weight: 600;
}

.socialMedia {
  display: flex;
  position: relative;
  width: fit-content;
  flex-direction: row;
  gap: 10px;
  height: fit-content;

  .item {
    display: flex;
    position: relative;
    border: 1px solid #e9ecf0;
    background-color: #f8f9fa;
    padding: 10px;
    color: #3a3a3a;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #e9ecf0;
    }
  }
}


.features {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .textTop {
    display: flex;
    position: relative;
    font-family: "CG", sans-serif !important;
    font-size: 13px;
    font-weight: 500;
    max-width: 550px;
    line-height: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #292929;
  }

  .scrollable {
    display: flex;
    position: relative;
    width: 600px;
    overflow: hidden;
    align-items: center;
    background-color: #f8f9fc90;
    gap: 10px;
    height: 50px;
    scale: 0.95;
  }

  .scrollable::before,
  .scrollable::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .scrollable::before {
    left: 0;
    background: linear-gradient(to right, #fff, #ffffff00);
  }

  .scrollable::after {
    right: 0;
    background: linear-gradient(to left, #fff, #ffffff00);
  }

  .marquee {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    animation: marquee 45s linear infinite;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 29px;
    background-color: #fff;
    border: 1px solid #e9ecf0;
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    color: #3a3a3a;
    border-radius: 9px;
  }




}


.badge {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 30px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecf0;
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #3a3a3a;
  border-radius: 50px;
}

.textTop2 {
  display: flex;
  position: relative;
  font-family: "CG", sans-serif !important;
  font-size: 39px;
  font-weight: 500;
  max-width: 550px;
  line-height: 1em;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
}

.textBottom2 {
  display: flex;
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15.3px;
  max-width: 550px;
  line-height: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #666;
}

.topFeatures {
  display: flex;
  position: relative;
  width: 100vw;
  height: fit-content;
  background-color: rebeccapurple;
  padding-inline: 50px;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1122px;

  .left {
    display: flex;
    position: sticky;
    top: 110px;
    min-width: 510px;
    max-width: 510px;
    padding-right: 20px;
    height: fit-content;
    background-color: transparent;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;

    .badgeContainer {
      gap: 10px;
      display: flex;
      flex-direction: column;
      height: 330px !important;
    }

    .badge2 {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 7px 15px;
      height: 38px;
      background-color: #fff;
      border: 1px solid #e9ecf0;
      font-size: 15px;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 400;
      color: #666;
      border-radius: 50px;
    }

    .textBottom3 {
      display: flex;
      position: relative;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 15.3px;
      max-width: 550px;
      line-height: 1em;
      height: fit-content;
      text-align: left;
      justify-content: center;
      align-items: center;
      color: #666;
    }
  }

  .right {
    display: flex;
    position: relative;
    min-width: 510px;
    max-width: 510px;
    height: fit-content;
    background-color: transparent;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    background-color: transparent;
    gap: 15px;

    .topFeaturesDisplay {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      padding: 30px 30px;
      max-height: 185px;
      width: 97%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #e9ecf0;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 400;
      color: #666;
      border-radius: 20px;
      gap: 15px;

      .top {
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;
        background-color: transparent;
        align-items: center;
        justify-content: start;
        gap: 15px;
        font-family: "CG";
        font-weight: 470;
        font-size: 17px;
        color: #0c0c0c;

        .topLogo {
          display: flex;
          position: relative;
          width: 50px;
          height: 50px;
          background-color: #dbff99 !important;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }


      }

      .textBottom3 {
        display: flex;
        position: relative;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        line-height: 1.4em;
        letter-spacing: 0.1px;
        text-align: left;
        justify-content: start;
        align-items: start;
        color: #666;
      }
    }
  }



}










/* ================================================================================= */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 800px) {
  .background {
    background-size: 150%;
  }
}

@media (max-width: 500px) {
  .background {
    background-size: 200%;
  }

  .inputContainer {
    flex-direction: column !important;
    max-width: 80vw;

    Input {
      max-width: 80vw;
    }

    Button {
      max-width: 80vw;
    }
  }

  .textBottom {
    min-width: 80vw;
  }
}

@media (max-width: 400px) {
  .background {
    background-size: 350%;
    transform: rotate(0deg);
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-item {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Stagger effect */
.fade-item:nth-child(1) {
  animation-delay: 0.15s;
}

.fade-item:nth-child(2) {
  animation-delay: 0.3s;
}

.fade-item:nth-child(3) {
  animation-delay: 0.45s;
}

.fade-item:nth-child(4) {
  animation-delay: 0.6s;
}

.fade-item:nth-child(5) {
  animation-delay: 0.75s;
}

.fade-item:nth-child(6) {
  animation-delay: 0.9s;
}

.fade-item:nth-child(7) {
  animation-delay: 1.05s;
}

.fade-item:nth-child(8) {
  animation-delay: 1.35s;
}

.fade-item:nth-child(9) {
  animation-delay: 1.5s;
}

.fade-item:nth-child(10) {
  animation-delay: 1.65s;
}

.fade-item:nth-child(11) {
  animation-delay: 1.7s;
}

.fade-item:nth-child(12) {
  animation-delay: 1.85s;
}

.fade-item:nth-child(13) {
  animation-delay: 2s;
}

.fade-item:nth-child(14) {
  animation-delay: 2.15s;
}

.fade-item:nth-child(15) {
  animation-delay: 2.3s;
}

.fade-item:nth-child(16) {
  animation-delay: 2.45s;
}

.fade-item:nth-child(17) {
  animation-delay: 2.6s;
}

.fade-item:nth-child(18) {
  animation-delay: 2.75s;
}

@media (max-width:900px) {
  .topFeatures .right {
    flex-direction: column !important;
  }

  .topFeaturesDisplay .top {
    flex-direction: column;
  }

  .right .topFeaturesDisplay .textBottom3 {
    text-align: center !important;
  }

  .topFeatures .right .topFeaturesDisplay {
    min-width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    margin-bottom: 20px;
  }
}

@media (max-width:1100px) {
  .topFeatures {
    flex-direction: column;
    height: fit-content !important;
    background-color: transparent;
    margin-top: -120px;
  }

  .topFeatures .left {
    position: relative !important;
    min-width: 100% !important;
    background-color: transparent;
    height: fit-content !important;
  }

  .topFeatures .left {
    align-items: center;
    justify-content: center;
    padding-right: 0;

    .textTop2 {
      text-align: center !important;
    }


  }

  .topFeatures .right {
    min-width: 100% !important;
    height: fit-content !important;
    padding: 0;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 0 !important;
  }

  .topFeatures .right .topFeaturesDisplay {
    min-width: 48.5%;
    max-width: 48.5%;
    margin-bottom: 20px;
  }
}