@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
/*font-family:"Plus Jakarta Sans",sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: ausfdto;
}

.containerMax {
  display: flex;
  width: 100vw;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  /* max-width: 1200px; */
  height: fit-content;
  max-height: fit-content;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  /*copilot:create a linear gradient from  top to bottm with 0% FFF0C5 and 50% F3F8EE and 100% FFF*/
}

.containerMax .main .containerMain .a {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 60px;
}
.containerMax .main .containerMain .b {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 00px;
  left: -90px;
}
.containerMax .main .containerMain .c {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  right: -60px;
}
.containerMax .main .containerMain .d {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 55%;
  right: 11%;
}
.nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Plus Jakarta Sans", sans-serif;

  background-color: none;
}

.nav .logoContainer {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: none;
  font-family: "Onest", sans-serif;
  gap: 10px;
}

.logoContainer .logo {
  width: fit-content;
  display: flex;
  position: relative;
  color: #18181b;
  font-weight: 600;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.logoContainer .location {
  height: 100%;
  width: fit-content;
  display: flex;
  position: relative;
  font-size: 13px;
  color: #52525b !important;
  align-items: end;
  justify-content: center;
  height: 30%;
  flex-direction: row;
  background-color: none;
  margin-top: 3px;
}
.nav .right {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: none;
  align-items: center;
  justify-content: space-between;
  min-width: 220px;
}

.right .button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  padding: 13px 28px;
  border-radius: 10px;
  color: #f3f3f3;
  font-weight: 400;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: #232328;
    transform: translateY(-2px);
  }
}

/* .right .profile {
  display: none;
  position: relative;
  width: 43px;
  border-radius: 10px;
  height: 43px;
  background-color: #fff0c5;
  color: #ec6a25;
  align-items: center;
  justify-content: center;
} */
/* HTML: <div class="hexagon"></div> */
.profile {
  height: 43px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background: #fff0c5;
  border-radius: 5px;
  color: #ec6a25;
  align-items: center;
  display: flex;
  justify-content: center;
}
/*wtf   is happeneing*/
.nav .midCont {
  display: flex;
  position: relative;
  background-color: none;
  height: 70px;
  width: fit-content;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  right: calc(2vw);
}

.midCont .links {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 14px;
  color: #18181b;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.containerMax .main {
  height: fit-content;
  background-color: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
   background: linear-gradient(180deg, #fff0c5 0%, #f3f8ee 50%, #fff 100%); 
  width: 100vw;
  justify-content: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main .containerMain {
  width: fit-content;
  height: 100%;
  background-color: none;
  align-items: center;
  justify-content: start;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: none;
}

.main .containerMain .textTop {
  display: block;
  width: 100%;
  font-size: 60px;
  line-height: 1em;
  color: #18181b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: none;
}

.main .containerMain .textTop span {
  font-family: "Finger Paint", cursive;
  background: linear-gradient(to right, #ec5c0f, #f2c439);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 300;
}

.main .containerMain .textBottom {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1em;
  color: #52525b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: none;
}

.main .containerMain .input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  top: 70px;
  height: 50px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}

.input Input {
  height: 50px;
  padding-inline: 20px;
  font-size: 13px;
  min-width: 350px;
  background-color: #fff;
  color: #18181b;
  border: 1px solid #18181b90;
  font-family: "Plus Jakarta Sans", sans-serif;

  &::placeholder {
    color: #18181b;
  }
}

.input Button {
  height: 50px;
  padding-inline: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
}

.main .containerMain .testimonial {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
  height: fit-content;
  width: 100%;
  scale: 0.8;
}
/*CAUSING PREFIX PROBLEM (FIX IS @MehulNegi)*/

.footer {
  top: 0px;
  background-color: #18181b;
  color: #f3f3f3;
  display: flex;
  position: relative;
}

.footerStyle {
  display: flex;
  gap: 650px;
  padding: 30px;
  display: flex;
  position: relative;
}
.footerStyle h1 {
  color: #fff;
  font-size: 50px;
}
.footerStyle :any-link {
  color: #fff;
  font-size: small;
  padding: 5px;
  text-decoration: none;
}
.footerLinks {
  display: flex;
  gap: 75px;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  position: relative;
}
.company {
  display: flex;
  flex-direction: column;
}
.help {
  display: flex;
  flex-direction: column;
}
.resources {
  display: flex;
  flex-direction: column;
}
