@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
/*font-family:"Plus Jakarta Sans",sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.containerMax {
  display: flex;
  width: 100vw;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100vw !important;
  width: 100vw;
  height: fit-content;
  max-height: fit-content;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  
  /*copilot:create a linear gradient from  top to bottm with 0% FFF0C5 and 50% F3F8EE and 100% FFF*/
}

.line {
  display: flex;
  position: relative;
  width: 120px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  border: 1px solid #3c3c43;
}
