.comingContainer {
  padding-top: 70px;
  padding-bottom: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  flex-direction: column;
  background-color: transparent;
}

.comingContainer .textTop {
  display: block;
  width: 90vw;
  max-width: 870px;
  font-size: 70px;
  line-height: 1.1em;
  color: #212121;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -3px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
}

.comingContainer .textTop span {
  font-family: "Finger Paint", cursive;
  background: linear-gradient(to right, #ec5c0f, #f2c439);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 300;
}

.comingContainer .textBottom {
  display: block;
  width: 800px;
  font-size: 20px;
  max-width: 90vw;
  line-height: 1.2em;
  color: #333333;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
  margin-bottom: 50px;
}

.comingContainer .input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  height: 70px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  padding-right: 5px;
  margin-bottom: 75px;
}

.input Input {
  height: 60px;
  padding-inline: 30px;
  font-size: 14px;
  min-width: 400px;
  background-color: #fafafa;
  color: #212121;
  border: 1px solid #21212190;
  font-family: "Geist Mono", sans-serif;

  &::placeholder {
    color: #212121;
  }
}
@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.input Button {
  height: 60px;
  padding-inline: 35px;
  cursor: pointer;
  background-color: #212121;
  font-family: "Geist Mono", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &:checked {
    animation: focus 0.5s ease-in-out;
  }
  &:hover{
    scale: 0.97;
    background-color: #181818;
  }
}

@media (max-width: 560px) {
  .input {
    flex-direction: column !important;
    background-color: transparent;
    height: 200px !important;
    width: fit-content;
    max-width: 90vw;
  }

  .input Button {
    width: 140px;
  }
}
