@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.containerMax .main {
  height: fit-content;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(180deg, #fff0c5 -20%, #f3f8ee 50%, #fff 100%); */
  background-color: transparent;
  width: 100%;
  justify-content: start;
  padding-top: 90px;
  padding-bottom: 70px;
}

.main .containerMain {
  background-color: transparent;
  align-items: center;
  padding-left: 0px !important;
  justify-content: start;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}
.containerMax .main .containerMain .a {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 320px;
  left: 50px;
  animation: float 3s ease-in-out infinite;
}
.containerMax .main .containerMain .b {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 00px;
  left: -90px;
  animation: float 3s ease-in-out infinite;
}
.containerMax .main .containerMain .c {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  right: -60px;
  animation: float 3s ease-in-out infinite;
}
.containerMax .main .containerMain .d {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 280px;
  right: 60px;
  animation: wobble 1.5s ease-in-out infinite;
}

.main .containerMain .textTop {
  display: block;
  width: 90vw;
  max-width: 870px;
  font-size: 70px;
  line-height: 1.1em;
  color: #212121;
  font-family: "Geist Mono", sans-serif;
  font-weight: 400;
  letter-spacing: -6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
}

/* .main .containerMain .textTop span {
  font-family: "Finger Paint", cursive;
  background: linear-gradient(to right, #ec5c0f, #f2c439);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 300;
} */

.main .containerMain .textBottom {
  display: block;
  width: 800px;
  font-size: 20px;
  line-height: 1.2em;
  color: #333333;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
  margin-bottom: 50px;
}

.main .containerMain .input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-top: 40px;
  height: 70px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  padding-right: 5px;
  margin-bottom: 75px;
}

.input Input {
  height: 60px;
  padding-inline: 30px;
  font-size: 14px;
  min-width: 400px;
  background-color: #fefefe;
  color: #212121;
  border: 1px solid #21212190;
  font-family: "Geist Mono", sans-serif;

  &::placeholder {
    color: #212121;
  }
}
@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.input Button {
  height: 60px;
  padding-inline: 35px;
  cursor: pointer;
  background-color: #212121;
  font-family: "Geist Mono", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &:checked {
    animation: focus 0.5s ease-in-out;
  }
}

.main .containerMain .tile {
  width: 900px;
  margin-top: 70px;
  height: 400px;
  display: flex;
  position: relative;
  bottom: 0;
  background-color: #ff7e61;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  &::before {
    content: "🐻‍❄️";
    font-size: 80px;
    display: flex;
    bottom: 15px;
    position: relative;
    animation: wobble 1.5s ease-in-out infinite;

  }
}

.main .containerMain .testimonial {
  display: flex;
  position: relative;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row;
  margin-top: 40px;
  font-size: 17px;
  color: #212121;
  font-family: "Geist Mono", sans-serif;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  margin-right: -10px;
  scale: 0.8;
}

.testimonialExtra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*CAUSING PREFIX PROBLEM (FIX IT @MehulNegi)*/

@media (max-width: 330px) {
  .testimonialExtra {
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    gap: 00px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 560px) {
  .main .input {
    flex-direction: column !important;
    background-color: transparent;
    height: 200px !important;
    width: fit-content;
  }

  .input Button {
    width: 140px;
  }
}
@media (max-width: 540px) {
  .containerMax .main .containerMain .c {
    right: 100px;
    top: 130px;
    z-index: 1;
  }
  .containerMax .main .containerMain .a {
    left: 100px;
  }
}
@media (max-width: 920px) {
  .containerMax .main .containerMain .b {
    left: 100px;
    z-index: 1;
  }
  .containerMax .main .containerMain .c {
    right: 100px;
    z-index: 1;
  }
  .containerMax .main .containerMain .d {
    right: 6%;
    z-index: 1;
  }

  .main .containerMain .tile {
    width: 80vw;
  }
  .main .textTop {
    z-index: 5;
  }
  .main Button {
    z-index: 5;
  }
  .main Input {
    z-index: 5;
  }
}

@media (max-width: 570px) {
  .main .textBottom {
    max-width: 90vw;
  }
}

@media (max-width: 400px) {
  .containerMax .main .containerMain .b {
    top: -30px !important;
    left: 50px !important;
    z-index: 1;
  }
  .containerMax .main .containerMain .c {
    top: 170px;
    z-index: 1;
  }
  .containerMax .main .containerMain .d {
    z-index: 1;
    top: 70%;
    right: 9%;
  }
}

@media (max-width: 435px) {
  .input {
    width: 90vw !important;
  }

  .input Input {
    min-width: 90vw !important;
  }
}



@media (max-width: 450px) {
  .containerMax .main .containerMain .d {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    right: 60px;
    animation: wobble 1.5s ease-in-out infinite;
  }
  .textBottom{
    z-index: 9;
  }
}
