@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
    font-family: "CG";
    src: url("./../../fonts/ClashGrotesk-Variable.ttf") format("truetype");
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/download.svg");
    background-size: 100%;
}

* {
    box-sizing: border-box;
}

.space-s {
    display: flex;
    position: relative;
    width: 0px;
    height: 30px;
    background-color: gainsboro;
}

.space-xs {
    display: flex;
    position: relative;
    width: 0px;
    height: 20px;
    background-color: gainsboro;
}

.space-xxs {
    display: flex;
    position: relative;
    width: 0px;
    height: 10px;
    background-color: gainsboro;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-item {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.6s ease-out forwards;
}


/* Stagger effect */
.fade-item:nth-child(1) {
    animation-delay: 0.15s;
}

.fade-item:nth-child(2) {
    animation-delay: 0.3s;
}

.fade-item:nth-child(3) {
    animation-delay: 0.45s;
}

.fade-item:nth-child(4) {
    animation-delay: 0.6s;
}

.fade-item:nth-child(5) {
    animation-delay: 0.75s;
}

.fade-item:nth-child(6) {
    animation-delay: 0.9s;
}

.fade-item:nth-child(7) {
    animation-delay: 1.05s;
}

.fade-item:nth-child(8) {
    animation-delay: 1.35s;
}

.fade-item:nth-child(9) {
    animation-delay: 1.5s;
}

.fade-item:nth-child(10) {
    animation-delay: 1.65s;
}

.containerMain {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 110px;
    background-color: transparent;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.prefContMain {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    gap: 10px;
    align-items: end;
    justify-content: start;
    flex-direction: column;
}

.containerMain .prefContMain .preferencesCont {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding-inline: 20px;
    height: 60px !important;
    max-width: 650px;
    width: 90vw;
    background-color: none;
    border: 1px solid #b9bcbe;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: #666;
    border-radius: 10px;
    gap: 15px;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }


}

.buttonCont {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prefContMain .buttonSubmit {

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-inline: 20px;
    height: 36px;
    background-color: #cfd1d480;
    border: 1px solid #cfd1d480;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    color: #666;

    &:hover {
        background-color: #b5b5b685;
        border: 1px solid #cfd1d485;
    }
}

.prefContMain .buttonAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #cfd1d480;
    border: 1px solid #cfd1d480;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    color: #666;

    &:hover {
        background-color: #b5b5b685;
        border: 1px solid #cfd1d485;
    }
}


.inputSearch {
    display: flex;
    width: 230px;
    border: 1.2px solid #b5b5b685;
    box-shadow: none !important;
}

.inputLocation {
    display: flex;
    width: 130px;
    border: 1.2px solid #b5b5b685;
    box-shadow: none !important;
}

.select {
    border: 1px solid #b5b5b685;
}

@media (max-width: 700px) {
    body {
        background-size: 200%;
    }


}




@media (max-width: 450px) {
    body {
        background-size: 250%;

    }

}