.comingContainer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.comingContainer .textTop {
  display: block;
  width: 90vw;
  max-width: 870px;
  font-size: 60px;
  line-height: 1em;
  color: #18181b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
}

.comingContainer .textTop span {
  font-family: "Finger Paint", cursive;
  background: linear-gradient(to right, #ec5c0f, #f2c439);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 300;
}

.comingContainer .textBottom {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.2em;
  color: #52525b;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: normal; /* Allows line breaks */
  background-color: transparent;
}

.comingContainer .input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  top: 70px;
  height: 50px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  padding-right: 5px;
}

.input Input {
  height: 50px;
  padding-inline: 20px;
  font-size: 13px;
  min-width: 350px;
  background-color: #fefefe;
  color: #18181b;
  border: 1px solid #18181b90;
  font-family: "Plus Jakarta Sans", sans-serif;

  &::placeholder {
    color: #18181b;
  }
}
@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.input Button {
  height: 50px;
  padding-inline: 25px;
  cursor: pointer;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;

  &:checked {
    animation: focus 0.5s ease-in-out;
  }
}
